.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  margin: 16px 0px 16px 35px;
}

@media screen and (max-width: 992px) {
  .title {
    margin-left: 0px;
  }
}
@media screen and (max-width: 576px) {
  .title {
    font-size: var(--sm-md);
  }
}
