.search__panel {
  position: relative;
  max-width: 250px;
}
.search__panel > i {
  position: absolute;
  top: 9px;
  left: 7px;
}
.search__input {
  padding: 5px 5px 5px 30px;
  border-radius: 12px;
  border: none;
  width: 100%;
  background-color: var(--search-bgc);
  transition: all 0.2s ease;
}
.search__input:focus {
  transition: all 0.2s ease;
  background-color: white;
}

.search__input:focus::placeholder {
  color: var(--color-header);
  opacity: 0.7;
}
