.header {
  padding: 25px 0;
  border-bottom: 1px solid var(--bgc-header);
  background: var(--color-header);
}
.header__logo {
  color: var(--white);
  font-size: var(--md-lg);
}
.header__logo:hover {
  color: var(--white);
  text-shadow: 0px 0px 3px var(--white);
}
.header__cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__cart_link {
  position: relative;
  display: inline-block;
  font-size: var(--sm-link);
  padding-right: 10px;
  transition: all 0.3s ease;
  color: var(--white);
}

.header__count {
  position: absolute;
  top: -11px;
  right: -13px;
}

.header__cart_link:hover,
.header__cart_link:hover.header__count {
  color: var(--green);
  transition: all 0.3s ease;
}

@media screen and (max-width: 576px) {
  .header__search {
    display: none;
  }
}
