.card__cart {
  max-width: 540px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0 0 0 / 7%);
}

.card__img > img {
  height: 150px;
}

.card__cart {
  width: 100%;
}
.card__title {
  font-size: var(--sm);
  line-height: var(--lh-sm);
  color: var(--black);
  margin-bottom: 20px;
}
.btn__minus,
.btn__plus {
  padding: 0px 5px;
  margin: 0px 5px;
}
.btn__minus {
  margin-left: 25px;
}
.btn__trash {
  position: absolute;
  top: 30px;
  padding: 5px;
  right: 10px;
}
